* {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font: 15px sans-serif;
}

#canvas {
  position: absolute;
}

#video {
  position: absolute;
  width: 100%;
}

/* #canvas { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   z-index: -1000; */
/* } */
/*  */
/* #video { */
/*   position: absolute; */
/*   width: 100%; */
/*   z-index: 0; */
/* } */

button {
  box-shadow: 0 0 10px #000;
}

#toggleVideo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

#snapshot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 150px;
  z-index: 1000;
  background: #fff;
  opacity: 0.7;
}

#filmroll {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100px;
  min-height: 100px;
  z-index: 1000;
}
